fastapi
uvicorn[standard]
gunicorn
motor
passlib[bcrypt]
bcrypt==4.0.1
pydantic[email]
email-validator
python-dotenv
python-multipart
python-jose
httpx
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
pillow
numpy
